body {
  font-family: 'Lato';
  background-color: #f0f0f0;
  margin: 0px auto;
  padding: 0;
}

button {
  font-family: 'Lato';
  font-size: 12px;
}

h2 {
  font-weight : 400;
}

ul {
  list-style: none;
}

video {
   align-self: flex-end;
}

.active {
  background-color: #050;
}

.hide {
  display : none;
}
.nohide {
  display : block;
}

.p5Canvas {
  position: absolute;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

video#recorded {
  width: 375px;
  height: 300px;
  margin-left: 20px;
}

#container, .controls {
  display: flex;
  justify-content: center;
}

#instruments {
  position: absolute;
}
