html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f0f0;
}

header {
  width: 100%;
  background: #FD66E0;
  height: 40%;
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: flex-end;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  align-self: center;
  font-size: 10em;
  line-height: 90%;
  max-width: 40%;
}

ul {
  list-style: none;
}

#videoel, .p5Canvas {
   align-self: center;
   position: absolute;
   top: 5%;
   -o-transform : scaleX(-1);
   -webkit-transform : scaleX(-1);
   transform : scaleX(-1);
   -ms-filter : fliph; /*IE*/
   filter : fliph; /*IE*/
}

.webcam {
  width: 60%;
  top: 0;
  justify-content: center;
  flex-direction: column-reverse;
}

.webcam .controls {
  position: absolute;
  bottom: 0;
  align-self: center;
  z-index: 100;
}

.controls {
  margin: 10px 0;
}

.controls button {
  background: transparent;
  border: none;
}

svg {
  margin: 0 20px;
  width: 60px;
  height: 60px;
}

.icon {
  pointer-events: all;
  fill: black;
}

button svg {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

button svg:hover .icon, button svg:focus .icon {
  fill: #FE94EA;
}

.webcam ~ section {
  width: 40%;
  height: 90%;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.webcam, .webcam ~ section {
  display: flex;
}

.active {
  background-color: #050;
}

.hide {
  display: none !important;
}

.nohide {
  display : block;
}

.instructions {
  max-width: 85%;
  font-size: 20px;
}

.instructions, video#recorded {
  align-self: center;
  justify-content: flex-end;
}

video#recorded {
  width: 375px;
  height: 300px;
  background: #C7FCEC;
}

#page1 {
  height: 95%;
}

#page1, #page2, .controls {
  display: flex;
  justify-content: center;
}

#page2 {
  flex-direction: column;
  align-items: center;
}

#instruments {
  position: absolute;
}
